body {
    padding-top: 50px;
    color: #78909C;
}

hr{
  display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.backgroundGradient {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#8b9da9, #fff6e4);
  box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
 }

.infoIcon{
  height: 30%;
  width: 30%;
  margin-left: 30%;
}

.infoTitle{
  font-family: 'Raleway', serif;
  color: rgb(0, 0, 0);
}

.infoText{
  font-family: 'Roboto', serif;
  color: rgb(0,0,0);
}

#logoEafit{
  height: auto;
  width: 20%;
  margin-left: 40.5%;
  padding: 0%;
}

#containerEafit{
  width: 100%;
}

#containerSocial{
  width: 100%;
}

#containerSocialButtons{
  margin-bottom: 7.5%;
}
