.navbar-custom {
    background-color: #78909C;
}
.signUpButton {
    color:rgb(255, 255, 255);
    font-family: 'Raleway', serif;
}
#AedesBrand {
    font-family: 'Raleway', serif;
    font-size: 25px;
    color: #ffffff;
}
