.navbar-custom {
    background-color: #78909C;
}
.signUpButton {
    color:rgb(255, 255, 255);
    font-family: 'Raleway', serif;
}
#AedesBrand {
    font-family: 'Raleway', serif;
    font-size: 25px;
    color: #ffffff;
}

.labellogin{
    color:rgb(255, 255, 255);
    font-family: 'Raleway', serif;
    
}

#invisible{
    display: none;
    visibility: hidden;
}

#signinButton{
    margin-top: 19px;
    margin-left: 2px;
}

#recordarmeCheckBox{
    margin-top: 40px;
    margin-left: 2px;
}
