.button-3d {
  position:relative;
  align-items: center;
  width: auto;
  display:inline-block;
  color:#ecf0f1;
  text-decoration: none;
  border-radius:5px;
  border:solid 1px #317d31;
  background:#317d31;
  text-align:center;
  padding:16px 18px 14px;
  margin: 12px;
  margin-bottom: 10%;
  margin-left: 50%;

  -webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;

  -webkit-box-shadow: 0px 6px 0px #193e19;
  -moz-box-shadow: 0px 6px 0px #193e19;
  box-shadow: 0px 6px 0px #193e19;
}

.button-3d:active{
    -webkit-box-shadow: 0px 2px 0px #3e9c3a;
    -moz-box-shadow: 0px 2px 0px #193e19;
    box-shadow: 0px 2px 0px #193e19;
    position:relative;
    top:4px;
}

#buttonText{
  font-family: 'Raleway';
}

#buttonText:hover{
  color: white;
  text-decoration: none;
}

.button-3d:hover, .button-3d:focus{
  color: white;
  text-decoration: none;
}
